*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
h3 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;
    margin-left: 35%;
    color: beige;
}
.music{
    display: flex;
    gap: 7px;
    margin: 7% 26%;
}
.button{
    padding : 40px;
    height : 100px;
    width : 60px;
    color : red;
    background-color: aliceblue;
    font-size: 35px;
    font-weight: 500px;
    border-radius: 13px;
    justify-content: center;
    border: 3px solid greenyellow;
    background-size: cover;
}
.r{
    background-image: url("rajni.jpg");
}
.k{
    background-image: url("KH.jpg");
}
.v{
    background-image: url("vijay.jpeg");
}
.u{
    background-image: url("surya.jpeg");
}
.h{
    background-image: url("dhanush.jpg");
}
.a{
    background-image: url("ajith.jpg");
}

.pressed{
    opacity: 50%;
}

.button:hover{
      transform: scale(1.2);
      opacity: 10%;
}
.header{
    padding-left: 10px;
    padding-right: 10px;
    color: beige;
    display: flex;
    height: 30px;
    justify-content: space-between;
    background-color: cornsilk;
    font-family: cursive;
    font-size: large;
    font-weight: bold
;
}
body{
    background-color: black;
}



